.container {
  margin: 0 auto;
  padding: 3rem;
}

.title {
  line-height: 3rem;
  color: #1E1E1E;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.content {
  line-height: 1.3rem;
  letter-spacing: 0.005em;
  text-justify: inter-word;
  margin-bottom: 0.5rem;
}