.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 50px;
  grid-row-gap: 15px;
}

/* Tablet (e.g., width between 768px and 1024px) */
@media (max-width: 1024px) and (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(3, 1fr); /* 3 columns on tablets */
    grid-row-gap: 20px; /* Increase row gap for better spacing */
    grid-column-gap: 10px;
  }
}

/* Mobile (e.g., width below 768px) */
@media (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr); /* 2 column on mobile */
    grid-row-gap: 25px; /* Further spacing between rows */
  }
}
