.mobile_header {
  display: none;
}

.header {
  height: 212px;
  padding-top: 20px;

  margin-bottom: 40px;
}

.header_top,
.header_bottom__container {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header_top {
  margin-bottom: 30px;
}

.header_bottom {
  position: relative;
  padding: 15px;

  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

.header_top__search {
  flex-grow: 1;
}

.header_top__right_menu,
.header_top__right_menu__lang,
.header_top__right_menu__tools {
  display: flex;
  align-items: center;
}

.header_top__right_menu {
  gap: 20px;
}

.header_top__right_menu__lang {
  background-color: #dcdcdc;
  padding: 7px;
  border-radius: 25px;

  line-height: 16px;
  gap: 8px;
}

.header_top__right_menu__tools {
  gap: 30px;
}

.header_bottom__menu__main {
  display: flex;
  align-items: center;
  gap: 40px;

  li {
    list-style: none;

    a {
      color: #333;
    }

    &:hover {
      a {
        color: #b4acac;
      }
    }
  }
}

.verticalNavigation__burger {
  margin-right: 10px;
}

@media (max-width: 1024px) {
  .mobile_header {
    display: flex;
    align-items: center;

    height: 80px;
    border-bottom: 1px solid #d9d9d9;

    margin-bottom: 30px;
  }

  .header {
    display: none;
  }

  .mobile_header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .mobile_header__logo__link {
    img {
      width: 100px;
    }
  }

  .mobile_header__tools {
    display: flex;
    align-items: center;
    gap: 30px;
  }
}

.burger_menu {
  border: 1px solid #d9d9d9;
  border-radius: 8px;

  img {
    width: 50px;
  }
}
