.container {
  width: 100%;
  max-width: 1380px;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  line-height: 3rem;
  color: #1e1e1e;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.content {
  line-height: 1.3rem;
  letter-spacing: 0.005em;
  text-justify: inter-word;
  margin-bottom: 0.5rem;
}
