.container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
}

.overlay {
  z-index: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.wrap {
  z-index: 22;
  margin: auto;
  background-color: rgb(255, 255, 255);
  padding: 2rem;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 4px 0px;
  width: 991px;
  height: 90vh;
}

.close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}