.shopMain {
  margin-bottom: 40px;
}

.shopMain__content {
  display: flex;
  gap: 20px;
}

.sidebar {
  flex: 0 0 20%; /* 20% width */

  border: 1px solid #d9d9d9;
  border-radius: 12px;

  max-height: 600px;

  padding: 15px;
}

.mainContent__inner {
  flex: 1; /* 80% width */
}

.title {
  margin-bottom: 20px;
}

.filterList {
  display: flex;
  align-items: center;
  justify-content: space-between;

  min-height: 34px;

  margin-bottom: 20px;
}

.filterList__items {
  display: flex;
  gap: 5px;
  align-items: center;
  flex-wrap: wrap;
}

.filterList__item {
  display: flex;
  align-items: center;
  gap: 10px;

  background-color: #f5f5f5;
  padding: 7px;
  border-radius: 8px;

  transition: all 0.2s linear;
  cursor: pointer;

  &:hover {
    background-color: #d4d4d4;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 50px;
  grid-row-gap: 15px;
}

.price_filter {
  margin-bottom: 30px;
}

.range_btn_max {
  position: absolute;
  top: 0;
  height: 16px;
  width: 16px;
  background-color: #007bff;
  border-radius: 50%;
  outline: none;
}

.range_btn_low {
  height: 6px;
  width: 100%;
  background: linear-gradient(to right, #ddd, #007bff, #ddd);
  border-radius: 3px;
  position: relative;
}

.range_values {
  position: absolute;
  top: -20px;
  font-size: 12px;
  color: #007bff;
}

.range_filter {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.range_filter__button {
  background-color: red;
  outline: none;
  border: 0;
  padding: 10px;
}

// PAGINATION
.pagination {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.nav_button {
  padding: 10px 17px;
  border: 0;
  background-color: #f9fafb;
  transition: all 0.2s linear;

  &:hover {
    background-color: #f2f4f7;
  }
}

@media (max-width: 1024px) {
  .sidebar {
    display: none;
  }
}

/* Tablet (e.g., width between 768px and 1024px) */
@media (max-width: 1024px) and (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr); /* 2 columns on tablets */
    grid-row-gap: 20px; /* Increase row gap for better spacing */
  }
}

/* Mobile (e.g., width below 768px) */
@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr; /* 1 column on mobile */
    grid-row-gap: 25px; /* Further spacing between rows */
  }
}
